.button {
  display: inline-block;
  height: auto;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
  overflow: hidden;
}
.button_primary {
  background-color: var(--primaryPurple);
  color: var(--white);
}
.button_secondary {
  background-color: var(--bg-3);
  color: var(--black-1);
}
.selectButton {
  color: var(--black-2);
  font-family: Poppins;
  padding: 1rem;
  border: none;
  background-color: var(--bg-3);
  width: 150px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
}
