.wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.container {
  background-color: var(--bg-2);
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.closeButton {
  position: absolute;
  cursor: pointer;
  top: -10px;
  right: 0;
  padding: 0.5rem;
  background-color: var(--gray-1);
  font-size: 2.5rem;
  color: var(--black-2);
  transition: 0.3s ease all;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  z-index: -1;
  &:hover {
    background-color: #e32525;
    color: #eee;
  }
}
.formTitle {
  color: var(--black-1);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.form {
  width: 100%;
  label {
    font-size: 1.6rem;
    color: var(--black-1);
    input,
    select {
      margin-top: 0.5rem;
      margin-bottom: 2rem;
      width: 100%;
      padding: 1rem;
      border: none;
      background-color: var(--white);
      font-size: 1.6rem;
    }
  }
}
.buttonContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}
