@import "../mixins";

.title {
  display: inline-block;
  width: 100%;
  font-family: "Poppins";
  margin: 2rem auto 1.5rem auto; // t r b l
  text-align: center;
  font-weight: 800;
  font-size: 4rem; // Root 10px (10*4)
  color: var(--black-1);
  @include smallDeviceSize {
    font-size: 3rem;
  }
}
